* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* display:flex; justify-content: center;*/

body,
main,
.container,
.textcontainer,
.statscontainer {
  display: flex;
  justify-content: center;
}

/* align-items: center; */

body,
main,
.container,
.statscontainer {
  align-items: center;
}

/* flex-direction: column; */

.container,
.textcontainer {
  flex-direction: column;
}

/* containers */

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: hsl(233, 47%, 7%);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
.container {
  width: 550px;
  height: 450px;
  padding: 5%;
  padding-top: 7%;
  gap: 4.5em;
  background: hsl(244, 38%, 16%);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#headerimg {
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  filter: brightness(80%) contrast(150%);
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.layer {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background: hsla(277, 64%, 61%, 0.5);
}
.textcontainer {
  align-items: start;
  gap: 2em;
}
.statscontainer {
  align-self: start;
  gap: 4em;
}
.pitchcontainer {
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  font-size: 0.8em;
}

/* textstyling */

.textcontainer h1 {
  margin: 0;
  font-size: 2.3em;
}
.textcontainer h1 span {
  color: hsl(277, 64%, 61%);
}
.desc {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6em;
  width: 80%;
}
.category {
  color: hsla(0, 0%, 100%, 0.6);
}
.number {
  font-size: 1.8em;
  font-weight: 700;
}
.attribution {
  position: absolute;
  top: 90%;
  right: 40%;
}

/* media queries */

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column-reverse;
  }
  #headerimg {
    height: 30vh;
    background-image: url(./images/image-header-mobile.jpg);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 0em;
  }
  .container {
    width: 90vw;
    height: auto;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 1em;
    gap: 3em;
    padding: 10%;
  }
  .textcontainer,
  .statscontainer {
    text-align: center;
  }
  .textcontainer {
    align-items: center;
  }
  .desc,
  .statscontainer {
    font-size: 1.1em;
  }
  .desc {
    width: 100%;
  }
  .statscontainer {
    flex-direction: column;
    align-self: center;
    gap: 2em;
  }
  .attribution {
    display: none;
  }
}
